@using Notit.Shared.Models;
@using Notit.Client.Services;

<div>
    <br />
    <h3>Skriv en kommentar:)</h3>
    <input placeholder="Content" type="input" id="content" @bind-value="content" />
    <input placeholder="User" type="input" id="user" @bind-value="user" />
    <button id="createPostButton" type="button" @onclick="CreateNewComment">Udgiv kommentar</button>
</div>


@code {

    [Inject]
    public CommentService commentService { get; set; }

    [Parameter]
    public int ThreadId { get; set; }
    private string? content;
    private string? user;
    private async void CreateNewComment()
    {
        if (content == null)
        {
            return;
        }
        
        Comment commentModel = new Comment(content, user);
        commentModel.Thread.ThreadId = ThreadId;

        await commentService.PostComment(commentModel);
    }
}
